@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@500;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*menu*/
#b-menu{
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
    #b-menu ul{ 
    text-align: center;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
}
#b-menu ul li{
    background-color: rgb(255, 255, 255);
    display: inline;
    text-align: center;
}
#b-menu ul li a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 35px;
    display: inline-block;
    text-transform: uppercase;
}
#b-menu ul li a:hover {
    color: rgb(31, 171, 226);
    transition: color .5s;
}
#b-menu ul li:first-child a{
    color:rgb(31, 171, 226) ;
}
.logo{
    height: 500px;
    width: 260px;
    display: inline;
}
.logo img{
    margin-bottom: -20px;
    text-align: center;
    width: 200px;
}

/*index*/
.imgindex img{
    margin-top: 88px;
    width: 100%;
    background-size: cover;
}

    /* block_sobre_nós index */
    .sec_block{
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        margin-bottom: 5%;
        padding: 100px, 0px;
        align-items: left;
    }
    .cont_sobrenos{
        width: 600px;
        margin-top: 50px;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .sec_block h3{
        text-align: left;
        font-family: Tahoma;
        font-size: 35px;
        color: rgb(230, 146, 86);
    }
    .sec_block h2{
        text-align: left;
        font-family: Tahoma;
        font-size: 55px;
        color: rgb(240, 111, 18);
    }
    .sec_block p{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: rgb(61, 61, 61);
        line-height: 1.7em;
    }
    .lino img{
        margin-top: -350px;
        margin-left: 62%;
        width: 250px;
        height: 255px;
        border-radius: 100%;
        position: absolute;
        border:solid 7px;
        border-color: rgb(140, 204, 248);
    }
    .dadai img{
        width: 250px;
        height: 255px;
        border-radius: 100%;
        position: absolute;
        border:solid 7px;
        border-color: rgb(140, 204, 248);
        margin-left: 50%;
        margin-top: -250px;
    }
    .sec_block h4{
        color: rgb(219, 99, 13);
        font-size: 30px;
        margin-top: 35%;
        position: absolute;
        right: 30vw;
    }
    #botao{
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 2%;
        display: inline-block;
        background: rgb(230, 146, 86);
        font-size: 0.85em;
        padding: 12px 35px;
        font-size: 20px;
    }
    #botao:hover{
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 2%;
        display: inline-block;
        background: rgba(0, 116, 205, 0.822);
        font-size: 0.85em;
        padding: 12px 35px;
        font-size: 20px;        
        transition: 0.7s;
    }

    /* block_cardapio index */
    #cardaindex{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(250, 224, 202);
    }    
    #cardind1{
        margin-top: 5%;
        position: relative;
        overflow: initial;
        margin-left: 10%;
        margin-bottom: 5%;
    }   
    #cardind1 img{
        width: 300px;
        height: 300px;
        position: relative; 
        border-radius: 100%;
        border: solid 7px;
        border-color: white;
    }
    #cardind2{
        margin-top: 5%;
        position: relative;
        overflow: initial;
        margin-bottom: 5%;
    }
    #cardind2 img{
        width: 300px;
        height: 300px;   
        position: relative;
        border-radius: 100%;
        border: solid 7px;
        border-color: white;
    }
    #cardind3{
        text-decoration: none;
        margin-top: 5%;
        position: relative;
        overflow: initial;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    #cardind3 img{
        width: 300px;
        height: 300px;
        position: relative;   
        border-radius: 100%;
        border: solid 7px;
        border-color: white;
    }
    #cardaindex h5{
        text-align: center;
        font-family: Tahoma;
        text-decoration: none;
        font-size: 30px;
        color: rgb(240, 111, 18);
    }

/* block_contatos index*/
    .entrecontat{
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        margin-bottom: 5%;
        padding: 100px, 0px;
        height: 550px;  
        margin-left: 10%;
        margin-right: 10%;
    }   
    .entrecontat h2{
        margin-bottom: 3%;
        text-align: left;
        font-family: Tahoma;
        font-size: 40px;
        color: rgb(240, 111, 18); 
        margin-top: 3%;
    }
    .entrecontat p{
        margin-left: 70px;
        margin-top: 1%;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(61, 61, 61);
        line-height: 1.7em;
    }
    .imgec img{
        margin-top: 60px;
        margin-left: 44%;
        position: absolute;
        width: 450px;
    }
    .contatx img{
        margin-top: 1%;
        width: 50px;
    }
    .entrecontat h4{
        margin-bottom: 2%;
        margin-top: 3%;
        text-align: left;
        font-family: Tahoma;
        font-size: 35px;
        color: rgb(230, 146, 86);
    }
    .entrecontat a{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(61, 61, 61);
        line-height: 1.7em;
    }

/*rodapé*/
footer{
    height: 80px;
    background-color: rgb(230, 146, 86);
    bottom: 0;
}
.compface p{
    margin-left: 10%;
    margin-top: 1.7%;
    position: absolute;
    font-family: Tahoma;
    font-size: min(5vw,16px);
    color: rgb(255, 255, 255);
    line-height: 1.7em;
}
.compface a{
    color:  rgb(172, 74, 5);
    text-decoration: underline;
}
.compface a:hover{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.75s;
}
.complugar p{
    margin-left: 73%;
    margin-top: 1.7%;
    position: absolute;
    font-family: Tahoma;
    font-size: min(5vw,16px);
    color: rgb(255, 255, 255);
    line-height: 1.7em; 
}
.barrainfe1{
    position: absolute;
    background-color: rgb(230, 146, 86);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

/*página_sobre nós*/
.lino1 img{
    margin-left: 58%;
    width: 300px;
    height: 305px;
    border-radius: 100%;
    position: absolute;
    border:solid 7px;
    border-color: rgb(235, 112, 31);
}
.dadai1 img{
    width: 300px;
    height: 305px;
    border-radius: 100%;
    position: absolute;
    border:solid 7px;
    border-color: rgb(140, 204, 248);
    margin-left: 43%;
    margin-top: 11%;
}
.sobrenospagimg{
    background-color: rgb(250, 224, 202);
    width: 100%;
    height: 800px;
}
.bigimg img{
    border: solid 7px;
    border-color: white;
    margin-top: 50px;
    position: absolute;
    width: 500px;
    margin-left: 60%;
}
.smaimg1 img{
    border: solid 7px;
    border-color: white;
    position: absolute;
    margin-top: 50px;
    width: 360px;
    margin-left: 10%;
}
.smaimg2 img{
    border: solid 7px;
    border-color: white;
    margin-top: 300px;
    width: 360px;
    margin-left: 30%;
}

/* página_cardápio */
.body2{
    background-color: rgba(237, 174, 123,);
}
.marg1{
    height: 88px;
}
#carda1{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(250, 224, 202);
}    
#card10{
    margin-top: 5%;
    position: relative;
    overflow: initial;
    margin-left: 10%;
    margin-bottom: 5%;
}   
#card10 img{
    width: 300px;
    height: 300px;
    position: relative; 
    border-radius: 100%;
    border: solid 7px;
    border-color: white;
}
#card20{
    margin-top: 5%;
    position: relative;
    overflow: initial;
    margin-bottom: 5%;
}
#card20 img{
    width: 300px;
    height: 300px;   
    position: relative;
    border-radius: 100%;
    border: solid 7px;
    border-color: white;
}
#card30{
    text-decoration: none;
    margin-top: 5%;
    position: relative;
    overflow: initial;
    margin-right: 10%;
    margin-bottom: 5%;
}
#card30 img{
    width: 300px;
    height: 300px;
    position: relative;   
    border-radius: 100%;
    border: solid 7px;
    border-color: white;
}
#carda1 h5{
    text-align: center;
    font-family: Tahoma;
    text-decoration: none;
    font-size: 30px;
    color: rgb(240, 111, 18);
}

    /* página_cardápio menu do cardápio */
    .nssdlcpa{
        width: 100%;
        height: 50px;
        background-color: rgb(230, 146, 86);
    }
    .nssdlcpa h1{
        margin-left: 10%;
        color: white;
        text-align: left;
        font-family: Tahoma;
        font-size: 40px;
    }

    /* página_cardápio panetones e chocotones*/
    .nssdlc_0{
        margin-top: 50px;
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-left: 10%;
    }
    .itens_card{
        background-color: rgba(205, 220, 230, 0.445);
        width: 570px;
        height: 240px;
        position: relative;
        overflow: initial;
    }
    .itens_card img{
        margin-right: 2%;
        display: block;
        float: left;
        position: relative;
        width: 240px;
        height: 240px;
    }
    .nssdlc_1{
        margin-top: 50px;
        margin-left: 10%;
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: flex;
    }
    .itens_card h3{
        line-height: 1.2em;
        margin-top: 3%;
        margin-left: 5%;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
    }
    .itens_card p{
        margin-right: 1%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(82, 82, 82);
        line-height: 1.2em;
    }
    .tamanho_itens{
        margin-left: 250px;
        width: 80px;
        bottom: 0px;
    }
    .tam_p img{
        position: absolute;
        width: 45px;
        height: 45px;
    }
    .tam_m img{
        position: absolute;
        margin-top: 32px;
        width: 45px;
        height: 45px;
    }
    .tam_g img{
        margin-top: 65px;
        width: 45px;
        height: 45px;
        position: absolute;
    }
    .precos{
        margin-top: 2%;
        margin-left: 290px;
    }
    .precos :nth-child(2){
        margin-top: 5%;
    }
    .precos :nth-child(3){
        margin-top: 5.3%;
    }


/*página_cardápio rabanada*/
    .nssdlcrab{
        margin-top: 50px;
        width: 100%;
        height: 50px;
        background-color: rgb(230, 146, 86);
    }
    .nssdlcrab h1{
        margin-left: 10%;
        color: white;
        text-align: left;
        font-family: Tahoma;
        font-size: 40px;
    }
    .cardrab{
        margin-top: 50px;
        width: 80%;
        background-color: rgb(255, 255, 255);
        margin-left: 12%;
    }
    .itens_cardrab{
        float: left;
        background-color: rgba(205, 220, 230, 0.445);
        width: 565px;
        height: 240px;
    }
    .itens_cardrab img{
        margin-right: 2%;
        display: block;
        float: left;
        position: relative;
        width: 240px;
        height: 240px;
    }
    .itens_cardrab h3{
        line-height: 1.2em;
        margin-top: 3%;
        margin-left: 5%;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
    }
    .itens_cardrab p{
        margin-right: 1%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(82, 82, 82);
        line-height: 1.2em;
    }
    .itens_cardrab h4{
        margin-top: 2%;
        margin-left: 5%;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    .precosrab{
        margin-top: 1%;
        width: 300px;
        margin-left: 45%;   
    }
    .precosrab :nth-child(2n+1){
        line-height: 1.2em;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    .precosrab a{
        margin-right: 1%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(82, 82, 82);
        line-height: 1.2em;
        line-height: 40px;
    }  

/*página_cardápio quiches*/
    .nssdlcqui{
        margin-top: 50px;
        float: left;
        width: 100%;
        height: 50px;
        background-color: rgb(230, 146, 86);
    }
    .nssdlcqui h1{
        margin-left: 10%;
        color: white;
        text-align: left;
        font-family: Tahoma;
        font-size: 40px;
    }
    .cardqui{
        margin-top: 50px;
        display: flex;
        width: 80%;
        background-color: rgb(255, 255, 255);
        margin-left: 10%;
    }
    .cardqui_1{
        display: flex;
        width: 80%;
        background-color: rgb(255, 255, 255);
        margin-left: 10%;
        margin-bottom: 50px;
    }
    .itens_quiche{
        margin-top: 50px;
        background-color: rgba(205, 220, 230, 0.445);
        width: 570px;
        height: 240px;
        position: relative;
        overflow: initial;
    }
    .itens_quiche img{
        margin-right: 2%;
        display: block;
        float: left;
        position: relative;
        width: 240px;
        height: 240px;
    }
    .itens_quiche h3{
        line-height: 1.2em;
        margin-top: 3%;
        margin-left: 5%;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
    }
    .itens_quiche p{
        margin-right: 1%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(82, 82, 82);
        line-height: 1.2em;
    }
    .unidades{
        margin-left: 240px;
        width: 80px;
        bottom: 0px;
    }
    .tam_30 img{
        position: absolute;
        width: 70px;
        height: 70px;
    }
    .uni_20 img{
        position: absolute;
        margin-top: 40px;
        width: 70px;
        height: 70px;
    }
    .uni_10 img{
        margin-top: 80px;
        width: 70px;
        height: 70px;
        position: absolute;
    }
    .precosqui{
        margin-top: 2%;
        width: 360px;
        margin-left: 290px;   
    }
    .precosqui :nth-child(2n+1){
        margin-left: 15px;
        color: rgb(240, 111, 18);
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    .precosqui a{
        margin-right: 1%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(82, 82, 82);
        line-height: 1.2em;
        line-height: 40px;
    }

/* página_contato*/
.marg{
    height: 90px;
}
.entrecontat1{
    text-decoration: none;
    background-color: rgb(248, 234, 221);
    margin-bottom: 5%;
    padding: 100px, 0px;
    margin-left: 15%;
    margin-right: 10%;
}
.entrecontat1 h2{
    margin-bottom: 3%;
    text-align: left;
    font-family: Tahoma;
    font-size: 40px;
    color: rgb(240, 111, 18); 
    margin-top: 3%;
}
.entrecontat1 p{
    margin-left: 60px;
    margin-top: 1%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(61, 61, 61);
    line-height: 1.7em;
    
}

.sim{
    height: 500px;
}
.imgec1 img{
    margin-top: 90px;
    margin-left: 44%;
    position: absolute;
    width: 450px;
}
.contatx1 img{
    margin-top: 1%;
    width: 50px;
}
.entrecontat1 h4{
    margin-bottom: 2%;
    margin-top: 3%;
    text-align: left;
    font-family: Tahoma;
    font-size: 35px;
    color: rgb(230, 146, 86);
}
.entrecontat1 a{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(61, 61, 61);
    line-height: 1.7em;
}
.body4{
    background-color: rgba(248, 234, 221);
}


/*Formulário*/

.formul{
    margin-left: 15%;
    margin-bottom: 50px;
}
.botao1{
    background: rgb(230, 146, 86);
    color: rgb(255, 255, 255);
    border: none;
    width: 150px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
}
.menuvertical {
    display: none;
}





@media only screen and (max-width: 1100px) {
#b-menu{
    display:none;
}
.menuvertical{
    display:block;  
    width: 100%;
    margin: auto;
    position: absolute;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 90px;
}

.topnav {
    position: absolute;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
}

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .topnav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    height: 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .active {
    color: white;
  }

  .active img{
    width: 200px;
  }
  .iconvert img{
    width: 50px;
  }
.imgec1 img{
display: none;
}
.lino img{
    position: relative;
    margin-left: 300px;
    margin-top: 10px;
}
.dadai img{
    position: relative;
    margin-left: 0%;
}
.sec_block{
height: 650px;
}
.imgec img{
    display: none;
}
#cardaindex {
display: block;
height: 1110px;
}

#cardind1 img{
    margin-top: 2%;
    margin-left: 25%;
}
#cardind2 img{
    margin-left: 30%;
}
#cardind3 img{
    margin-left: 30%;
}
.sec_block{
    height: 1000px;
}
.lino1 img{
    position: relative;
    margin-left: 430px;
    margin-top: 10px;
}
.dadai1 img{
    margin-top: -300px;
    position: relative;
    margin-left: 10%;
}
.bigimg img{
    display: none;
}
}

